In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
mydata = pd.read_csv("country_wise_latest.csv")

In [11]:
mydata.head(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32,2.67,34981,2409,6.89,Europe
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific
9,Austria,20558,713,18246,1599,86,1,37,3.47,88.75,3.91,19743,815,4.13,Europe

# USER DEFINED DATA

In [12]:
d = pd.DataFrame({"Country":["Afghanistan","Albania","Algeria","Andorra","Angola","Antigua and Barbuda"],
                   "Confirmed":[36263,4880,27973,907,950,86],
                   "Deaths":[1269,144,1163,52,41,3]})
arr = np.array(d)
arr

array([['Afghanistan', 36263, 1269],
       ['Albania', 4880, 144],
       ['Algeria', 27973, 1163],
       ['Andorra', 907, 52],
       ['Angola', 950, 41],
       ['Antigua and Barbuda', 86, 3]], dtype=object)

# CONVERTING ndARRAY FROM CSV FILES USING PANDAS

In [26]:
confirmedcases=mydata['Confirmed'].head(10)
print(confirmedcases)

x=np.array(confirmedcases)

print(x)

0     36263
1      4880
2     27973
3       907
4       950
5        86
6    167416
7     37390
8     15303
9     20558
Name: Confirmed, dtype: int64
[ 36263   4880  27973    907    950     86 167416  37390  15303  20558]

In [27]:
print("Mean value of Water Hardness is:- \n",x.mean())
# Mean value of x

Mean value of Water Hardness is:-
 31172.6

In [28]:
print("Maximum value of Water Hardness is:- \n",x.max())

Maximum value of Water Hardness is:-
 167416

In [29]:
print("Minimum value of Water Hardness is:- \n",x.min())

Minimum value of Water Hardness is:-
 86

In [30]:
print("Standard Deviations of Water Hardness is:- \n",x.std())

Standard Deviations of Water Hardness is:-
 47422.223971888954

In [31]:
print("Variance value of Water Hardness is:- \n",x.var())

Variance value of Water Hardness is:-
 2248867326.4399996

In [32]:
print("Mean value of Water Hardness is:- \n",x.sum())

Mean value of Water Hardness is:-
 311726